.form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.form_search_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_label {
  display: flex;
  align-items: center;
}
.form_label_id {
  width: 100%;
}
.form_label_data {
  width: 100%;
}
.form_input {
  box-sizing: border-box;
  height: 30px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid gray;
  margin-right: 10px;
  width: 100%;
}
.form_btn {
  width: 100px;
  height: 30px;
  padding: 5px;
  background: #00CED1;
  border: none;
  border-radius: 5px;
}
.label_text {
  margin-right: 5px;
  width: 100px;
}
.label_text_data {
  margin-right: 5px;
  width: 170px;
}
.offset,
.limit {
  box-sizing: border-box;
  width: 70px;
  margin-left: 5px;
}
.wraper {
  display: flex;
}
