.form {
  margin-top: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}
.form_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}
.form_label_title {
  width: 50%;
}
.form_input {
  box-sizing: border-box;
  height: 30px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid gray;
  margin-right: 10px;
  width: 100%;
}
.form_btn {
  margin-left: auto;
  width: 100px;
  height: 30px;
  padding: 5px;
  background: #00CED1;
  border: none;
  border-radius: 5px;
}
.label_text {
  margin-right: 5px;
}
.offset,
.limit {
  box-sizing: border-box;
  width: 70px;
  margin-left: 5px;
}
.error {
  margin-top: 10px;
}
